main {
  width: 100%;
  height: calc(100% - 50px - 30px);
  overflow: auto;

  > div {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
  }
}

.section-title {
  font-size: 2.4em;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.section-buttons {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 20px;

  .filler {
    flex: 1 1;
  }
}

@import './text-section';
@import './grade-section';
